@charset "UTF-8";

.cen {
    width: 1200px;
}

.emptySpace1 {
    padding-top: 120px;
}

.reviewContainer {
    position: relative;
}

.communityHeadStyle {
    height: 300px;
    position: relative;
    overflow: hidden;
}

.comImgBox {
    position: relative;
    height: inherit;
}

.comImgBox img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.17);
}

.communityHeadStyle>div:last-of-type {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.communityHeadStyle>div:last-of-type h3 {
    font-weight: 700;
    font-size: 2.3rem;
    margin-bottom: 15px;
}

.communityHeadStyle>div:last-of-type span {
    color: white;
    opacity: 0.6;
}

.reviewListContents {
    padding: 50px 0px;
}

.reviewListContents>div:first-of-type {
    padding: 0px 0px 40px;
    text-align: center;
}

.reviewListContents>div:first-of-type>h4 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 0px;
}

.searchBoardCont {
    margin-bottom: 20px;
}

#searchForm {
    overflow: auto;
}

#searchForm>div:first-of-type {
    float: left;
    line-height: 38px;
}

#searchForm>div:last-of-type {
    float: right;
    width: 400px;
}

#searchForm>div:last-of-type>div:first-of-type,
#searchForm>div:last-of-type>div:last-of-type {
    position: relative;
    float: left;
}


#searchForm>div:last-of-type>div:first-of-type i {
    position: absolute;
    top: 12px;
    right: 10px;
}

#searchForm>div:last-of-type>div:last-of-type {
    float: right;
}

#searchType {
    padding-right: 30px;
}

#searchBtn {
    position: absolute;
    top: 6px;
    right: 10px;
    border: none;
    background-color: transparent;
    display: block;
    width: 25px;
    outline: none;
    border-radius: 4px;
    border-radius: 4px;
    color: #333;
    transition: all 0.4s;
}

#searchBtn:hover {
    background-color: #333;
    color: white;
}

.airplaneInfoContainer {
    position: relative;
    padding: 40px 0px;
}

.airplaneInfoContainer:last-of-type {
    padding-top: 0px;
}

.airplaneInfoContainer h2 {
    margin-bottom: 20px;
}

.airplaneInfoContainer h2 i {
    margin-left: 10px;
}

.airInfoContents {
    overflow: auto;
}

.airInfoCont {
    float: left;
    width: calc(100% / 4 - 8px);
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.4s;
}

.airInfoCont:hover {
    background-color: #eee;
}

.airInfoCont:last-of-type {
    margin-right: 0px;
}

.airImgBox {
    height: 210px;
    overflow: hidden;
    position: relative;
}

.airImgBox img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.airInfoCont div:nth-of-type(2) {
    font-size: 1.2rem;
    padding: 10px 0px;
    color: #888;
}

.airInfoCont div:nth-of-type(3) {
    font-size: 0.85rem;
    padding-bottom: 10px;
}

.airInfoCont div:nth-of-type(4) {
    font-size: 0.85rem;
    padding-bottom: 10px;
    color: #666;
}

.airInfoCont div:last-of-type {
    font-size: 0.9rem;
}
