@charset "UTF-8";

@font-face {
    font-family: 'SUIT-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.cen {
    width: 80%;
}

.plan-header{
	width: 100%;
	height: 60px;
	position: relative;
}

.title{
	position:absolute;
	width: 70px;
    height: 50px;
    top:20px;
    left:27px;
    font-family: 'SUIT-Bold';
}

.title_input{
	position:absolute;
	width: 250px;
    height: 34px;
    left:110px;
    top:10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom : 1px solid black;
    font-family: 'SUIT-Medium';
    padding-left: 14px;
}

.calendar{
	right:1100px;
	top: 0px;
	margin-bottom: 20px;
}

.calendar_detail_01{
	position:absolute;
	left:400px;
	top:20px;
	font-family: 'SUIT-Bold';
}

.calendar_detail_02{
	position:absolute;
	left:635px;
	top:20px;
	font-family: 'SUIT-Bold';
}

.input-date {
	position:absolute;
	width: 120px;
    height: 35px;
    left:500px;
    top:10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom : 1px solid black;
    text-align: center;
 }
 
#decrease {
	position: absolute;
    padding: 0px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 50px;
    height: 35px;
    left: 716px;
    top: 13px;
}

.wave{
	position:absolute;
	width: 50px;
    height: 35px;
    left:780px;
    top:10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom : 1px solid black;
    text-align: center;
}

#increase {
	position: absolute;
    padding: 0px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 50px;
    height: 35px;
    left: 845px;
    top: 13px;
}

#btn {
	position:absolute;
	width: 76px;
    height: 35px;
    left: 928px;
    top: 12px;
    border-radius: 8px;
    text-align: center;	
}


.plan-header .form-group:last-of-type {
    text-align: right;
}

.plan-header .form-group:last-of-type button {
    margin-right: 10px;
}

.plan-header .form-group:last-of-type button:last-of-type {
    margin-right: 0px;
}

.planInsertTbl .form-group {
	display: flex;
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 12px 0px;
	height: 60px;
	width: 100%;
}

#test2 {
	margin-left: 25px;
}

.planInsertTbl .form-group select {
	margin-right: 25px;
	width: 200px;
}

.planInsertTbl .form-group select:last-of-type {
	margin-right: 0px;
}

.plan-container{
	width: 100%;
	/* height: 90%; */
	height: 630px;
	margin-bottom: 10px;
	display: flex;
}

/* DAYS box */
.plan-daysbox {
  /* width: 120px; */
  width: 200px;
  /* height: 90%; */
  /* background: #FFD8A8; Lighter sand color */
  background: #20356f;
  
}

.plan-daysboxtitle {
  height: 80px;
  /* border-bottom: 1px solid #FFD8A8; */ /* Matching lighter sand color */
  color: white;
  font-size: 25px;
  text-align: center;
  line-height: 80px;
  font-weight: bold;
}

.category-listing {
  padding: 10px 10px 3px;
  margin-bottom: 10px;
  min-height: 480px;
  /* max-height: 480px; */
}

.select-job-items1 .card {
  min-height: 460px;
}

/* 해당 날짜에 일정을 추가하는 영역 */
.plan-planscontainer {
  /* width: 260px; */
  width: 400px;
  /* height: 90%; */
  /* background: #FFE5C4; */
  background: #f6f9ff;
}

.plan-plansbox {
  background-color:#384873;
  float: left;
  /* border-right: 1px solid #FFE5C4; */ /* Matching even lighter sand color */
  /* border-bottom: 1px solid #FFE5C4; Matching even lighter sand color */
  width: 100%;
  /* height: 100%; */
}

.plan-plansboxtitle {
  /* background-color: #FFCC80;
  height: 78px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 80px;
  border: 1px solid #FFE5C4; Matching even lighter sand color */
  background-color: #384873;
    height: 78px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
    border: 1px solid #384873;
}
/* 해당 날짜에 일정을 추가하는 영역 */

/* 장소검색 */
.plan-searchbox{
	/* width: 367px; */
	width: 450px;
	height: 90%;
	/* overflow: scroll;  */
}

.searchContents {
    padding: 0px 0px 30px;
}

.searchContents > div {
    overflow: auto;
    position: relative;
    margin: 0px auto;
}

.searchContents button {
    display: block;
    width: 20px;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    border: none;
    background-color: transparent;
    color: #dee2e6;
    transition: all 0.4s;
}

.searchContents button:hover {
    color: black;
}

/* 검색 결과 UI */
.sidebar-menu {
	box-shadow: 0 1px 2px #aaa; 
	/* overflow: auto; */ 
	min-height: 444px;
	max-height: 444px;
	margin: 0;
	border: 1px solid #eee;
	overflow-y: scroll;
  	-ms-overflow-style: none; /* IE and Edge */
  	scrollbar-width: none; /* Firefox */
  	scroll-behavior: smooth;
}

.scroll-area::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.planCropImgBox {
	position: relative;
	width: 100%;
	height: 260px;
	overflow: hidden;
}

.planCropImgBox img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#result p {
    font-family: 'SUIT-Bold';
    color: #10285d;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: normal;
}

.btn-show-movie {
    display: inline-block;
    padding: 6px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid #050b1e;
    border-radius: 4px;
    color: #fff;
    background-color: #040c26;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.btn-show-movie:hover {
    background-color: #050b1e;
    color: #fff;
    transform: scale(1.1);
}

.btn-info {
    display: inline-block;
    padding: 6px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid #f2391a;
    border-radius: 4px;
    color: #fff;
    background-color: #ff3d1c;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.btn-info:hover {
    background-color: #f2391a;
    color: #fff;
    transform: scale(1.1);
}

.wrap {
	position: absolute;
	left: 0;
	bottom: 40px;
	width: 288px;
	height: 132px;
	margin-left: -144px;
	text-align: left;
	overflow: hidden;
	font-size: 12px;
	font-family: 'SUIT-Bold';
	line-height: 1.5;
}

.wrap * {
	padding: 0;
	margin: 0;
}

.wrap .info {
	width: 286px;
	height: 120px;
	border-radius: 5px;
	border-bottom: 2px solid #ccc;
	border-right: 1px solid #ccc;
	overflow: hidden;
	background: #fff;
}

.wrap .info:nth-child(1) {
	border: 0;
	box-shadow: 0px 1px 2px #888;
}

.info .title1 {
	padding: 3px 0 0 10px;
	height: 36px;
	background: #eee;
	border-bottom: 1px solid #ddd;
	font-size: 18px;
	font-weight: bold;
	width: 100%;
}

.info .close {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #888;
	width: 17px;
	height: 17px;
	background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}

.info .close:hover {
	cursor: pointer;
}

.info .body {
	position: relative;
	overflow: hidden;
}

.info .desc {
	position: relative;
	margin: 13px 0 0 90px;
	height: 75px;
}

.desc .ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.desc .jibun {
	font-size: 11px;
	color: #888;
	margin-top: -2px;
}

.info .img {
	position: absolute;
	top: 6px;
	left: 5px;
	width: 73px;
	height: 71px;
	border: 1px solid #ddd;
	color: #888;
	overflow: hidden;
}

.info:after {
	content: '';
	position: absolute;
	margin-left: -12px;
	left: 50%;
	bottom: 0;
	width: 22px;
	height: 12px;
	background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

.info .link {
	color: #5085BB;
}


.select-job-items2 {
  text-align: center; /* 가운데 배치 */
  margin-bottom: 20px; /* 컨텐츠와의 간격 유지 */
}

.cat1-btn {
  border-radius: 50%; /* 둥근 모서리 효과 */
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
  margin: 0 10px; /* 버튼 사이의 간격 */
  transition: transform .2s; /* 버튼이 부드럽게 확대되도록 설정 */
  padding: 5px;
  border: none;
}


.cat1-btn:hover {
  transform: scale(1.1); /* 마우스를 올렸을 때 버튼이 10% 확대 */
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.3); /* 마우스를 올렸을 때 그림자가 더 커지도록 설정 */
}

.cat1-btn img {
  width: 100%;  /* 이미지의 너비를 버튼의 너비에 맞게 설정 */
  height: auto; /* 이미지의 높이를 원본 비율에 맞게 설정 */
}

/* 지도API */
.plan-mapbox{
	/* height: 630px; */
	height: 100%;
	width: calc(100% - 747px);
}

/* 일정 추가 */
/* styles.css */

.day-cell {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd; /* Border color */
    border-radius: 5px;
    background-color: #f9f9f9;
}

.day-btn {
    background-color: #446d89;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.day-btn:hover {
    background-color: #2980b9;
}

.day-date {
    font-size: 14px;
    color: #666;
}

/* Optional: Add some spacing between cells */
.day-cell + .day-cell {
    margin-top: 10px;
}

.list-pic{
	width: 30%;
	margin-top: 0%;
	margin-right: 3%;
	border-radius: 5px;
	margin-left: 1%;
}
.list-tbody{
	border-bottom: 1px solid #999;
	background: linear-gradient(to top, #e1e1e161, #fff);
}

.category-listing .single-listing .select-job-items1 .nice-select,
.category-listing .single-listing .select-job-items2 .nice-select {
	width: 100%;
	height: 45px;
	background: #fff;
	border-radius: 5px;
	padding: 11px 19px 11px 18px;
	color: #616875;
	line-height: 20px;
	border: 1px solid #ededed;
	margin-bottom: 20px
}

.profileContents {
    position: relative;
    height:350px;
    text-align: center;
}

.profileContents div {
	width: 100%;
	height: 100%;
    /* width: 200px;
    height: 200px; */
    /* overflow: hidden; */
    /* border-radius: 50%; */
    /* position: absolute; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
    /* top: -5px; */
    /* right: -95px; */
    background-color: white;
}

/* .profileContents img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */


.profileIcon {
    position: absolute;
    top: 60px;
    right: -75px;
    background-color: #eee;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.profileIcon i {
    font-size: 2em;
    line-height: 50px;
}

.fileForm {
    z-index : 10;
    width : 300px;
    margin-left : 50px;
}

#myModal {
    position: fixed;
    width:100%;height:100%;    /* fixed인 경우 먹음 */
    left:0px;top:0px;
    background-color: rgba(0, 0, 255, 0.7);
    display:none;
    z-index: 1000;  /* 상황에 맞추어 사용, 큰 숫자가 앞으로 나옴 */
    /* static(브라우저에게 외주), relative(static한 상태에서 내가 조금 조정을하겠다) 
        absolute(내가 다 하겠음, 기준점 브라우저 왼쪽상단 모서리), fixed(고정좌표),
        $$ 부모 relative, 자식 absolute (자식의 기준점이 부모 왼쪽상단 모서리)
    */
}

/* 모달 속 내용 창 */
#myCont {
    width: 60%;
    height: 70%;
    margin: 20% auto;  /* 수평가운데 정렬 */
    background-color: blueviolet;
    color:white;
}

.infoModalBox.cen {
    width: 600px;
    height: 600px;
}

.infoModalContents {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 70;
    display: none;
}

.infoModalBox {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 60px;
    overflow: auto;
    border-radius: 10px;
}

/* .modalClose {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
    right: 100px;
    cursor: pointer;
    background-color: rgba(0,0,0,0.4);
    border-radius: 4px;
} */

/* .moddalClose div {
    width: 25px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
}

.modalClose div:first-of-type {
    transform: translate(-50%, -50%) rotate(45deg);
}

.modalClose div:last-of-type {
    transform: translate(-50%, -50%) rotate(-45deg);
} */

#testbtn, #addImgBtn {
    margin-left: 20px;
}

.plan-header > .form-group {
    padding-top : 10px;
}

#plannerListGoBtn {
    margin-right : 20px;
}

#card3 {
    min-height:460px;
    max-height:460px;
    overflow:auto;
}
#card3::-webkit-scrollbar {
    display: none;
}

#data-panel::-webkit-scrollbar {
    display: none;
}
.form-control[type=file] {
    /* margin-top:50px; */
}

#profileImg {
    position:relative;
    /* left:30%; */
    /* transform : translate(70%, 10%); */
}

/* .btn.modalClose {
    margin: 0 auto;
    position: relative;
    left: 45%;
    margin-top: 100px
} */

/* .btn{
    background-color : #446d89;
    border-color : #446d89;
} */

.modalBtnsWrap {
	text-align: center;
	/* padding-top : 110px; */
}
.modalBtn {
	display: inline-block;
}

#addImgBtn, #testbtn {
    border-radius: 8px;
    /* background-color: #446d89; */
    /* border-color: #446d89; */
    margin-left: 27px;
}

.link_a {
    cursor:pointer;
    color: #20356f;
}