<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<!-- VO와 테이블컬럼명에 있는 언더바 대응 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<!-- 오라클 Nullable 컬럼 대응 -->
   		<setting name="jdbcTypeForNull" value="VARCHAR"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="kr.or.ddit.users.login.vo.MemberVO" alias="memberVO"/>
		<typeAlias type="kr.or.ddit.users.board.vo.NoticeVO" alias="noticeVO"/>
		<typeAlias type="kr.or.ddit.users.board.vo.NoticeFileVO" alias="noticefileVO"/>
		<typeAlias type="kr.or.ddit.vo.PaginationInfoVO" alias="pagingVO"/>
		
		<typeAlias type="kr.or.ddit.users.myplan.vo.JourneyinfoVO" alias="journeyinfoVO"/>
		<typeAlias type="kr.or.ddit.indexsearch.vo.JourneyinfoVO" alias="indexsearchVO"/>
		
		<typeAlias type="kr.or.ddit.users.partner.vo.PlanerVO" alias="planerVO"/>
		<typeAlias type="kr.or.ddit.users.partner.vo.ChatroomVO" alias="chatroomVO"/>
		
		<typeAlias type="kr.or.ddit.vo.RealTimeSenderVO" alias="rtsenderVO"/>
		
		
		<!--  항공  -->
        <typeAlias type="kr.or.ddit.users.reserve.air.vo.FlightVO" alias="flightVO"/>
        <typeAlias type="kr.or.ddit.users.reserve.air.vo.SearchVO" alias="searchVO"/>
        <typeAlias type="kr.or.ddit.users.reserve.air.vo.AirplaneVO" alias="airplaneVO"/>
        <typeAlias type="kr.or.ddit.users.reserve.air.vo.ReservationVO" alias="reservationVO"/>
        <typeAlias type="kr.or.ddit.users.reserve.air.vo.TicketVO" alias="ticketVO"/>
        <!-- 장바구니 -->
        <typeAlias type="kr.or.ddit.users.reserve.cart.vo.CartVO" alias="cartVO"/>
        <typeAlias type="kr.or.ddit.users.reserve.cart.vo.CartAirVO" alias="cartAirVO"/>
        <!-- 결제내역 -->
        <typeAlias type="kr.or.ddit.users.mypage.vo.PayHistoryVO" alias="payHistoryVO"/>
        <typeAlias type="kr.or.ddit.users.reserve.air.vo.AirReceiptVO" alias="airReceiptVO"/>
        
		
		<!-- Plan 관련 VO -->
		<typeAlias type="kr.or.ddit.users.myplan.vo.AreaVO" alias="areaVO"/>
		<typeAlias type="kr.or.ddit.users.myplan.vo.SigunguVO" alias="sigunguVO"/>
		<typeAlias type="kr.or.ddit.users.myplan.vo.TouritemsVO" alias="touritemsVO"/>
		<typeAlias type="kr.or.ddit.users.myplan.vo.SearchCodeVO" alias="searchCodeVO"/>
		<typeAlias type="kr.or.ddit.users.myplan.vo.PlannerVO" alias="plannerVO"/>
		<typeAlias type="kr.or.ddit.users.myplan.vo.DetatilPlannerVO" alias="detatilPlannerVO"/>
		<typeAlias type="kr.or.ddit.users.myplan.vo.PlannerListVO" alias="plannerListVO"/>
		<typeAlias type="kr.or.ddit.users.myplan.vo.PlannerLikeVO" alias="plannerLikeVO"/>
		
		<!-- 양이 많아지면 패키지로 선택 -->
		
		<!-- 
			해당 경로에 VO가 대문자로 자동 등록 된다. 
			<package name="kr.or.ddit.vo" />
		-->
	</typeAliases>

</configuration>